/**
 * Global Color Variables
 */
$background-color: #cdbf8f;
$whale-top: #4f73df;
$whale-top-dark: #2d256f;
$whale-bottom: #9ecff7;
$whale-bottom-dark: #7eafda;
$whale-outline: #3a2618;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
