.mouth {
  position: absolute;
  width: 10vmin;
  height: 4vmin;
  background: transparent;
  border-radius: 50% 50% 0 50%;
  border-bottom: 0.5vmin solid $whale-top-dark;
  top: -4.5vmin;
  left: 49.7vmin;
}