@import "config";

.canvas {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: $background-color;
  @import "body";
  @import "side-fin";
  @import "mouth";
  @import "cheek";
  @import "eye";
  @import "tail";
}
